APP_NAME="mini-RAG"
APP_VERSION="0.1"
FILE_ALLOWED_TYPES=["text/plain", "application/pdf"]
FILE_MAX_SIZE=10
FILE_CHUNK_SIZE=1000

# ==Database==
#DATABASE_TYPE="NOSQL"
DATABASE_TYPE="SQL"

OPENAI_API_KEY=""
COHERE_API_KEY=""
GOOGLE_API_KEY=""
OLLAMA_BASE_URL="http://localhost:11434/v1/"

OPENAI_API_URL=""

# ==Backends==
    ##Generation
#GENERATION_BACKEND_LLM="OPENAI"
#GENERATION_BACKEND_LLM="OLLAMA"
#GENERATION_BACKEND_LLM="COHERE"
GENERATION_BACKEND_LLM="GOOGLE"
    ##Emdedding
EMBEDDING_BACKEND_LLM="COHERE"
#EMBEDDING_BACKEND_LLM="OLLAMA"
#EMBEDDING_BACKEND_LLM="GOOGLE"
#EMBEDDING_BACKEND_LLM="OPENAI"

# ==Generation Models==
#GENERATION_MODEL_ID="gpt-3.5-turbo"   #OPENAI
#GENERATION_MODEL_ID="qwen2.5:3b-instruct-q3_k_s"  #OLLAMA
GENERATION_MODEL_ID="gemini-1.5-flash"  #GOOGLE
#GENERATION_MODEL_ID="gemini-pro-latest"   #GOOGLE

# ==Embedding Models==
    ##COHERE Embedding Models
EMBEDDING_MODEL_ID="embed-multilingual-light-v3.0"
EMBEDDING_MODEL_SIZE="384"
#EMBEDDING_MODEL_ID="embed-multilingual-v3.0"
#EMBEDDING_MODEL_SIZE="1024"
    ##Google Embedding
#EMBEDDING_MODEL_ID="models/text-embedding-004"
#EMBEDDING_MODEL_SIZE="768"
    ##OLLAMA Embedding
#EMBEDDING_MODEL_ID="nomic-embed-text"
#EMBEDDING_MODEL_SIZE="768"

INPUT_MAX_CHARACTERS=1000
GENERATION_MAX_OUTPUT_TOKENS=1000
GENERATION_TEMPERATURE=0.1


# ===================Mongo DB====================
MONGODB_URL="mongodb://localhost:27017" # Default port
MONGODB_DB="mini_rag"

# ===================Postgres====================
POSTGRES_USERNAME="minirag"
POSTGRES_PASSWORD="minirag"
POSTGRES_HOST="localhost"
POSTGRES_PORT=5432
POSTGRES_MAIN_DATABASE="mini_rag"

# ===================Vector DB====================
VECTOR_DB_BACKEND="QDRANT"
#VECTOR_DB_BACKEND="PGVECTOR"
VECTOR_DB_PATH="qdrant_db"
#VECTOR_DB_URL="postgresql://user:password@localhost:5432/vectordb"
VECTOR_DB_DISTANCE_METHOD="COSINE"

# ===================Template Config====================
DEFAULT_LANG="ar"